{profiles,
 [ {prod, [ {erl_opts, [ warnings_as_errors
                       , warn_export_all
                       , warn_unused_import
                       , warn_unused_vars
                       ]}
          ]}

 , {eqc, [ {erl_opts, [ debug_info
                      , warnings_as_errors
                      , warn_unused_vars
                      ]}
         , {plugins, [ rebar3_eqc ]}
         ]}
 , {test, [ {erl_opts, [ debug_info
                       , warnings_as_errors
                       , warn_unused_vars
                       ]}
          , {plugins, [ rebar3_proper
                      ]}
          , {deps, [ {proper, "1.1.1-beta"}
                   ]}
          , {proper_opts, [ {module, [ "proper_stateful_service"
                                     ]}
                          ]}
          ]}
 ]}.

{deps, []}.

{shell, [ {apps, [mylib]}
        ]}.
