{deps_error_on_conflict, false}.

{erl_opts, [warnings_as_errors
           ,warn_export_all
           ,warn_unused_import
           ,warn_unused_vars
           ,debug_info
           ]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{profiles, [{test, [{plugins, [rebar3_proper]}
                   ,{deps, [proper
                           ,{memoizer
                            ,{git, "https://github.com/ZoltanLajosKis/erl-memoizer"
                             ,{branch, "master"}}}
                           ]}
                   ]}

            %% rebar3 eqc -p prop_ticket_dispenser
           ,{eqc, [{plugins, [rebar3_eqc]}
                  ]}
           ]}.
