{profiles,
 [ {prod, [ {erl_opts, [ warnings_as_errors
                       , warn_export_all
                       , warn_unused_import
                       , warn_unused_vars
                       ]}
          ]}
 , {test, [ {erl_opts, [ debug_info
                       , warnings_as_errors
                       , warn_unused_vars
                       ]}
          , {plugins, [ rebar3_eqc
                      ]}
          ]}
 ]}.

{deps, []}.

{shell, [ {apps, [mylib]}
        ]}.
